.screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}
.grid{
    display: grid;
    grid-template-columns: 4.5fr 1fr 4.5fr;
    gap:100px;
}
.flex_start{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.do-more-than{
    display: flex;
    align-items: flex-end;
    gap : 10px;
}
.dice{
    width: 40px;
    rotate : 4deg;
}
.roll-dice{
    width:150px;
    rotate : 4deg;
    filter: blur(0px);
}
.choice{
    margin:0px;
}
.heading{
    text-align: center;
}
.joke{
    opacity: 0.5;
    font-size: 18px;
    letter-spacing: 5px;
}
.col_fepalfu{
    gap:40px;
}
.title{
    opacity: 0.5;
}
.or{
    display: flex;

    justify-content: center;
    align-items: center;
}
.col_felefu .heading{
    margin-bottom: 50px;

}
.col_fepalfu .choice{
    background:linear-gradient(90deg,transparent,#9e2cc1d2);
    padding:10px;
    padding-top:15px;
    border-radius: 5px;
}
.col_felefu .choice{
    background:linear-gradient(90deg,#481f79d3,transparent);

    padding:10px;
    padding-top:15px;
    border-radius: 5px;
}
.detail_felefu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap : 120px;
    opacity: 0.5;
}
.detail_felefu *{
    text-align: center;
}

.sips{
    text-align: center;
}
.dice.proba_to_drink{
    transition: translate 2s, scale 2s,rotate 2s;
}
.show_dice{
    translate: -34vw -16vh;
    scale : 10;
    rotate: 10deg;
}

.player_action,.detail_felefu{
    margin-top:50px;
}


@media only screen and (max-width: 900px) {
    .screen{
        padding: 20px;
    }
    #filigrane{
        width: 20%;
    }
    .font-xl {
        font-size: 25px;
    }
    .title{
        margin:0px;
        font-size: 15px;
    }
    .font-m{
        font-size: 15px;
    }
    .choice{
        letter-spacing: 6px;
        font-size: 20px;
    }
    .joke{
        margin: 5px;
        font-size: 11px;
    }
    .grid{
        grid-template-columns: 4fr 1fr 4fr;
        gap:0px;
    }
    .col_fepalfu{
        gap : 20px;
    }    
    .col_fepalfu .heading{
        text-align: left;
    }
    .col_felefu .heading{
        text-align: right;
        margin-bottom: 0px;
    }
    .roll-dice{
        width:75px;
    }
    .dice{
        width: 25px;
    }
    .detail_felefu{
        margin:0px;
        gap : 5px;
    }
}