section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
}

.player_action{
    text-align: center;
    letter-spacing : 8px;
    line-height: 55px;
}
.btn_distribute{
    margin : 55px 0px;
}
.players{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: scroll;
    width: 80%;
}
.player{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
    min-width:26%;
}
.name{
    text-align: center;
    width:100%;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin : 20px 0px;
}
.sips_input{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sips_input>* {
    padding : 0px 5px;
    min-width: 60px;
    text-align: center;
}

@media only screen and (max-width: 900px) {
    .font-l{
        font-size: 20px;
    }
    .sips_value{
        font-size: 25px;
    }
    .player_action{
        letter-spacing: 4px;
        line-height: 30px;
        margin:10px;
    }
    .name{
        margin: 0px;
    }
    .font-xl {
        font-size: 20px;
    }
    .heading{
        margin : 0;
    }
    .player_action{
        font-size: 20px;
    }
    .font-m {
        font-size: 15px;
        margin: 0;
    }
    .player{
        min-width:33%;
    }
    .players{
        width: 90%;
    }
    .btn_distribute{
        margin: 15px 0px;
    }
}