.screen{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left : 100px;
    padding-right : 100px;
    overflow: hidden;
}
.screen>*{
    z-index: 2;
}
.tour{
    opacity: 0.6;
    margin:0px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.tafelfu{
    margin:0px;
    margin-top: 25px;
    font-size: 100px;
}
.dice{
    width: 50px;
    margin-top: 20px;
}
.bg_cups{
    position: absolute;
    z-index: 1 !important;
    width: 100%;
    top:25%;
}