.screen{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left : 100px;
    padding-right : 100px;
    overflow: hidden;
    width: 100vw;
}
.screen>*{
    z-index: 2;
}
.tour{
    opacity: 0.6;
    margin:0px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.tafelfu{
    margin:0px;
    margin-top: 25px;
    font-size: 100px;
}
.dice{
    width: 50px;
    margin-top: 20px;
}
.bg_cups{
    position: absolute;
    z-index: 1 !important;
    width: 100%;
    top:25%;
}
.title-fail{
    margin : 0px;
    margin-top : 20px;
    opacity: 0.5;
}

app-distribute{
    width : 80%;
}

@media only screen and (max-width: 900px) {
    .screen{
        padding : 10px;
    }
    .font-m {
        font-size: 15px;
      }
    .font-l {
        font-size: 25px;
      }
    .dice{
        margin-top : 0px;
        width: 30px;
      }
    .title-fail{
        font-size: 18px;
        margin-top : 5px;
    }
    .tafelfu{
        margin-top: 0px;
        font-size: 55px;
    }
}